*{
    margin: 0;
    padding: 0;
}

.heading-txt{
    color: white;
}

.img-img{
    width: 180px;
    margin-left: 5px;
}

@media (max-width: 1220px) {
    .img-img{
        width: 114px;
    }
}

@media (max-width: 980px) {
    .img-img{
        width: 104px;
    }
}

@media (max-width: 780px) {
    .img-img{
        width: 79px;
        margin-left: 10px;
    }
}

@media (max-width: 680px) {
    .heading-txt{
        font-size: 30px;
    }
    .img-img{
        width: 67px;
        height: 100px;
    }
}

@media (max-width: 580px) {
    .img-img{
        width: 80px;
        height: 100px;
    }
}